# Python
__pycache__/
*.py[cod]

# Environment
.env
.venv/
env/
venv/

# Flask
instance/
.webassets-cache

# Distribution / packaging
*.egg-info/
dist/
build/

# Logs
*.log

# IDEs and editors
.idea/
.vscode/

# Tailwind
.log/
node_modules/
docs/
css/
export.scss
export/